<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Account</title>

  <!-- Bootstrap core CSS -->
  <!-- CSS only -->
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">

  <!-- Custom styles for this template -->
  <link th:href="@{/assets/css/signin.css}" rel="stylesheet"/>


</head>
<body class="text-center gradient-bg">
<main class="form-signin main-bg">
  <form class="mx-3 mt-3 mb-3" action="#" th:action="@{/user/edit/save}" th:object="${userDto}" method="post">

    <img class="mb-4" th:src="@{/assets/icons/chat-dots-fill.svg}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Edit Account</h1>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
      <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>
    <input hidden type="text" th:field="*{userId}" th:value="*{userId}"/>
    <input hidden type="text" th:field="*{username}" th:value="*{username}"/>
    <div class="form-floating mb-1">
      <input type="text" th:field="*{firstName}" class="form-control" id="firstname" th:errorclass="is-invalid" placeholder="First Name" />
      <label for="firstname">First Name</label>
      <!--                <span class="error"  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>-->
    </div>
    <div class="form-floating mb-1">
      <input type="text" th:field="*{lastName}" class="form-control" id="lastname" th:errorclass="is-invalid" placeholder="Last Name" />
      <label for="lastname">Last Name</label>
      <!--                <span class="error"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span>-->
    </div>
    <div class="form-floating mb-1">
      <input type="password" th:field="*{password}" th:value="*{password}" class="form-control" id="password" th:errorclass="is-invalid" placeholder="Password"/>
      <label for="password">Password</label>
      <!--                <span class="error"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>-->
    </div>
    <button class="mt-2 w-100 btn color-button-outlined" type="submit">Save</button>
  </form>
</main>


</body>
</html>