<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="back">
    <div class="div-center">
        <div class="content">
            <h3>Login</h3>
            <hr/>
            <form method="post" th:action="@{/login}">
                <div class="form-group mb-3">
                    <label>Username</label>
                    <input class="form-control" id="username" name="username" required placeholder="Username">
                </div>
                <div class="form-group mb-3">
                    <label>Password</label>
                    <input class="form-control" id="password" name="password" required placeholder="Password"
                           type="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <hr/>
            </form>
            <h3><a th:href="@{'/user/register'}" class="btn btn-link">Register</a></h3>
            <!--  <button type="button" class="btn btn-link">Register</button>-->

        </div>
    </div>
</div>
</body>
</html>